body,
html {
    margin: 0;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #0E407D;
    padding: 0 15px;
}

.navbar .logo-slogan {
    width: 30%;
}

.navbar .logo-slogan img {
    width: 100%;
    height: 60px;
    aspect-ratio: 16/9;
    padding-top: 40px;
}

.navbar .logo-slogan h1 {
    color: white;
    margin-left: 9%;
    margin-top: 0;
    padding-bottom: 20px;
}

.navbar .search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .search-container input {
    padding: 6px;
    font-size: 17px;
    border: none;
    border-radius: 25px;
    width: 52vw;
}

.navbar .search-container i {
    margin-left: -30px;
    cursor: pointer;
    color: #555;
}

.navbar .navbar-links {
    display: flex;
    gap: 10px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 20px;
}

.navbar .navbar-links .fa {
    color: white;
    font-size: 30px;
}

.shopping-cart {
    position: relative;
}

.shopping-cart .quantity {
    display: flex;
    position: absolute;
    background-color: white;
    color: #0E407D;
    border-radius: 0.5rem;
    left: 1.5rem;
    bottom: 1.2rem;
    width: 1rem;
    height: 1.1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #0E407D;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.profile-button {
    border-style: none;
    background-color: transparent;
}

.profile-button a {
    color: white;
    font-size: 30px;
}

.profile-menu {
    position: relative;
}

.menu-content {
    display: none;
    background-color: white;
    position: absolute;
    transform: translateX(-20%);
    border-radius: 10px;
    width: 100px;
}

.menu-content a {
    display: inline-flex;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.profile-menu:hover .menu-content {
    display: block;
}

.sports-bar {
    background-color: #0E407D;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sports-bar .sports .fa {
    font-size: 30px;
    padding-right: 10px;
}

.sports-bar .sports .fa-regular {
    font-size: 30px;
    padding-right: 10px;
}

.sports-bar .sports a {
    padding: 50px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    width: 25%;
    text-align: center;
}

.profile {
    width: 50rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 1.1rem;
}

.profile img {
    height: 50vh;
    margin: 2rem auto;
}

.profile input {
    padding: 10px;
    border-radius: 10px;
    width: 40rem;
}

.profile div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.profile input:read-only {
    background-color: lightgray;
    border: solid darkgray;
}

.footer {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 10px;
    background-color: #0E407D;
    padding: 20px 50px;
}

.footer-column h2 {
    color: white;
    padding-left: 10px;
}

hr {
    margin-bottom: 20px;
}

.footer-column a {
    display: block;
    color: white;
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
}

.footer-column .fa-solid {
    padding-right: 10px;
}

.footer-column .fa-brands {
    padding-right: 10px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-copyright {
    text-align: center;
    grid-column: 1 / span 4;
    color: white;
    font-size: 20px;
}